@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Overpass";
  font-weight: 600;
  src: local("Overpass"),
    url(./assets/font/Overpass/static/Overpass-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Overpass";
  font-weight: 300;
  src: local("Overpass"), url(./assets/font/Overpass/static/Overpass-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: local("Ubuntu"), url(./assets/font/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: local("Ubuntu"), url(./assets/font/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: local("Ubuntu"), url(./assets/font/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
}
.App > div:not(.Notmxauto) > *:not(header) {
  @apply mx-auto w-5/6 py-5;
}

.startLearn > button {
  @apply md:w-1/4 border w-1/2 py-3 rounded-full font-semibold text-lg;
}
.heading {
  @apply text-heading font-semibold text-2xl mb-8;
}
footer {
}
footer > div {
  @apply flex flex-col gap-5  px-10;
}
footer > div > p {
  @apply font-bold text-xl;
}
footer > div > div {
  @apply flex flex-col gap-1 items-center md:items-start;
}
footer > div > div > p {
  @apply relative w-fit cursor-pointer;
}
footer > div > div > p::after {
  @apply content-[""] w-0 hover:w-full h-[1px] bg-footerText transition-all absolute left-0 bottom-0;
}
div.heading > button {
  @apply relative md:text-lg;
}
div.heading > button::after {
  @apply content-[""] w-0 hover:w-full h-[2px] bg-white transition-all absolute left-0 bottom-0;
}
div.heading {
  @apply !m-0 flex items-center justify-center gap-2 transition-all md:text-white;
}
div.heading > img {
  @apply scale-[1.5] w-[10px] relative  md:invert md:brightness-0;
}

div.heading + div > p {
  @apply hover:font-bold text-heading font-semibold cursor-pointer;
}
.headnav {
  @apply md:justify-center  text-heading  md:!h-[10px] w-full flex flex-col transition-all items-center gap-5;
}
.headnav > div:nth-child(2) {
  @apply md:transition-all  bg-[#eee] w-full md:absolute  md:rounded-lg md:p-0 md:overflow-hidden  md:top-28 md:w-[150px]  flex flex-col md:justify-center items-center gap-3 py-5;
}
